OWNER_NUMBER=6281234567890
OWNER_GROUP_ID=120363423664469094@g.us
BOT_NAME=Bot Pengingat Sholat
TIMEZONE=Asia/Jakarta
DATABASE_PATH=./data/bot.db
PRAYER_ADDRESS=Sasakpanjang Tajurhalang Bogor
PRAYER_METHOD=11
