# OWNER_JID opsional. Jika dikosongkan, command owner cukup validasi dari OWNER_GROUP_JID.
OWNER_JID=
OWNER_GROUP_JID=120363423664469094@g.us

# Lokasi (default sekitar Tajurhalang/Sasakpanjang)
LAT=-6.464
LON=106.778
TIMEZONE=Asia/Jakarta

# Pesan reminder (boleh ubah)
REMINDER_TEXT=🕌 Waktu {prayer} sudah masuk.\n\nApakah kamu sudah sholat?\nKetik:\n✅ sudah {cmd}\n❌ belum
